statsmodels==0.6.1
scikit-learn==0.18.1
numpy==1.12.0
scipy==0.18.1
pandas==0.19.2
xgboost==0.6a2
Flask==0.12
Flask-APScheduler==1.6.0
Flask-Script==2.0.5
Flask-Restful==0.3.5
Flask-Testing==0.6.1
marshmallow==2.12.0
nose2==0.6.5
redis==2.10.5
boto3==1.4.4
