numpy==1.14.2
scipy==1.0.1
scikit-learn==0.19.1
pandas==0.22.0
xgboost==0.71
Flask==0.12.2
Flask-APScheduler==1.8.0
Flask-Script==2.0.6
Flask-Restful==0.3.6
Flask-Testing==0.7.1
marshmallow==3.0.0b8
boto3==1.7.4
